<div class="container-image">
  <div class="cocktail" style="height: 50vh; background-position: center; background-image: url(https://images.unsplash.com/photo-1551024709-8f23befc6f87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2625&q=80);">
    <h1>Cocktail</h1>
    <p><strong><%= @cocktail.name %></strong></p>
  </div>

  <div class="doses">
    <div class="dose">
        <p>
          <strong>Ingredients needed</strong>
          <% @cocktail.doses.each do |dose|%>
          <p><%= dose.description %> of <%= dose.ingredient.name %>
            <%= link_to 'delete', dose_path(dose),
                          method: :delete,
                          data: {:confirm => "You sure?" } %>
          <% end %>
           </p>

        </p>

    </div>
  </div>



  <%= link_to 'Back to list of cocktails', cocktails_path %>

  <%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail) %>
</div>
