<h1>Ingredient </h1>

<div class="ingredient" style="height: 50vh; background-position: center; background-image: url('<%=cl_image_path @ingredient.photo %>')">

<p>
  <strong>Name:</strong>
  <%= @ingredient.name %> <br>
</p>


<%= link_to 'Back to cocktail', cocktails_path %>

<%= link_to 'Back to ingredients', ingredients_path %>

<%= link_to 'delete', ingredient_path(@ingredient),
                          method: :delete,
                          data: {:confirm => "You sure?" } %>
